* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 30vw;
  margin: auto;
}

.container h3 {
  font-size: 2rem;
}

#display {
  width: 200px;
  height: 40px;
  border: 2px solid black;
  text-align: right;
  margin: 10px 0;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 4px;
  margin: 2px;
  width: 200px;
}

.number-button {
  width: 100%; /* Each button takes the full column width */
  height: 30px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
