* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page1 {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}
h1 {
  color: aqua;
  font: 50px;
}
h2 {
  color: rgb(255, 0, 166);
  font: 40px;
}
h3 {
  color: rgb(153, 255, 0);
  font: 30px;
}
