* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* th,
td,
table {
  border: 1px solid #ccc;
} */

#btnField {
  display: flex;
  justify-content: space-evenly;
}
